<template>
  <div class="eye_container">
    <div class="left">
      <img
        src="https://d1cqebbq86e0g6.cloudfront.net/assets/Bloobloom-Collection_page-Women_s_Spectacles-Left.jpg"
        alt="Bloobloom-Collection_page-Women_s_Spectacles-Left"
      />
    </div>
    <div class="right">
      <img
        src="https://d1cqebbq86e0g6.cloudfront.net/assets/Bloobloom-Collection_page-Women_s_Spectacles-Right.jpg"
        alt="Bloobloom-Collection_page-Women_s_Spectacles-Right"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "Eye",
};
</script>

<style lang="scss">
.eye_container {
  display: flex;
  justify-content: space-between;
  padding-top: 4.5%;
}

.left,
.right {
  display: flex;
  width: 50%;
  box-sizing: content-box;
}

.left {
  border-right: 1px solid #000;
}

img {
  object-fit: cover;
  width: 100%;
}
</style>
