<template>
  <div>
    <FilterGlasseVue />
    <div class="card_section">
      <CardVue v-for="item in collections" v-bind:key="item.id" :item="item" />
    </div>
  </div>
</template>

<script>
import HeaderVue from "../Header/Header.vue";
import EyeVue from "../Eye/Eye.vue";
import FilterGlasseVue from "../Filter/FilterGlasse.vue";
import CardVue from "../Card/Card.vue";
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";

Vue.use(VueAxios, axios);

export default {
  name: "Glasses",
  components: {
    HeaderVue,
    EyeVue,
    FilterGlasseVue,
    CardVue,
  },
  data() {
    return {
      collections: [],
      meta: null,
    };
  },
  mounted() {
    Vue.axios
      .get(
        "https://staging-api.bloobloom.com/user/v1/sales_channels/website/collections/"
      )
      .then((resp) => {
        this.collections = resp.data.collections;
        this.meta = resp.data.meta;
        console.log(resp.data);
      });
  },
};
</script>

<style lang="scss">
.card_section {
  display: flex;
  flex-wrap: wrap;
}
</style>
