<template>
  <div class="main_filter">
    <div>
      TRIAL AVAILABLE
      <ToggleButtonVue id="switch" v-on:change="eventHandler" />
    </div>
    <div>SPECTACLES WOMEN</div>
    <div class="third">
      <div class="third_filter">FILTERS <FilterIconComponent /> </div>
      <div class="third_search">SEARCH <SearchIconComponent /> </div>
    </div>
  </div>
</template>

<script>
import ToggleButtonVue from "../ToggleButton/ToggleButton.vue";
import FilterIconComponent from "./Icon.vue";
import SearchIconComponent from "./Search.vue";

export default {
  name: "FilterVue",
  components: {
    ToggleButtonVue,
    FilterIconComponent,
    SearchIconComponent,
  },
  methods: {
    eventHandler(value_Toggle) {
      console.log({ value_Toggle });
    },
  },
};
</script>

<style lang="scss">
.main_filter {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
  padding: 20px;
}

.third {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.third_filter {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.third_search {
  display: flex;
  align-items: center;
}
</style>
