<template>
  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" ><path d="M2.55822 13.006L2.55824 13.0061C5.17372 16.119 9.94732 16.6049 13.1027 13.8722L20.2631 21.1055L20.3697 21.2132L20.4763 21.1056L21.1066 20.4692L21.2112 20.3635L21.1065 20.2579L13.9285 13.0264C15.1953 11.4716 15.8096 9.67166 15.633 7.62704C15.4527 5.5381 14.5355 3.81049 12.9063 2.49791C9.92322 0.0942517 5.60596 0.351597 2.97326 3.06385L2.97322 3.06388C0.300403 5.81942 0.138749 10.125 2.55822 13.006ZM8.25241 2.05432L8.25246 2.05432C11.6691 2.05119 14.4712 4.84895 14.4732 8.26123C14.4751 11.6234 11.7542 14.3936 8.40753 14.4742V14.474H8.25752C4.83732 14.474 2.04823 11.691 2.04549 8.26423C2.04276 4.83759 4.82256 2.05627 8.25241 2.05432Z" fill="black" stroke="black" stroke-width="0.3" ></path></svg>
</template>

<script>
export default {
  name: "search"
}
</script>

<style>

</style>
