<template>
  <div class="main_card">
    <div class="main_card_glasse">
      <div class="cursor_left"></div>
      <div>
        <p><span class="bold_title">{{ item.name.split(" ")[0].toUpperCase() }}</span> {{ item.name.split(" ")[1].toUpperCase() }}</p>
        <div>
          <img src="../../assets/glasse_1.jpeg" alt="" />
        </div>
      </div>
      <div class="cursor_right"></div>
    </div>
    <div class="main_card_color">
      <div class="at_home">+ TRY AT HOME</div>
      <div class="footer_color">
        <div class="footer_color_item">
          <img src="../../assets/cognac.png" alt=""/>
        </div>
        <div class="footer_color_item">
          <img src="../../assets/cognac.png" alt=""/>
        </div>
        <div class="footer_color_item">
          <img src="../../assets/cognac.png" alt=""/>
        </div>
        <div class="footer_color_item">
          <img src="../../assets/cognac.png" alt=""/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: ["item"],
};
</script>

<style lang="scss">
.main_card {
  border-right: 1px solid black;
  max-width: 638px;
  background: #f6f6f4;
  border-bottom: 1px solid black;
}

.main_card_glasse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cursor_left {
  cursor: w-resize;
}

.cursor_right {
  cursor: e-resize;
}

.main_card_color{
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.at_home{
  width: 158px;
  padding: 1px 10px;
}

.footer_color {
  display: flex;
  justify-content: center;
}

.footer_color_item{
  height: 49px;
  overflow: hidden;
  border: 1px solid black;
}

.footer_color_item > img {
  object-fit: cover;
}

.bold_title {
  font-weight: 700;
}

@media (max-width: 400px) {
  .main_card {
    width: 100%;
  }
}
</style>
