<template>
  <header :class="{ 'headroom--unpinned': scrolled }" class="headroom header">
    <div>MENU</div>
    <div class="bloobloom">bloobloom</div>
    <div>BAG (0)</div>
  </header>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      limitPosition: 500,
      scrolled: false,
      lastPosition: 0,
    };
  },

  methods: {
    /* handleScroll() {
      if (
        this.lastPosition < window.scrollY &&
        this.limitPosition < window.scrollY
      ) {
        this.scrolled = true;
        // move up!
      }

      if (this.lastPosition > window.scrollY) {
        this.scrolled = false;
        // move down
      }

      this.lastPosition = window.scrollY;
      // this.scrolled = window.scrollY > 250;
    }, */
  },

  created() {
    window.addEventListener("scroll", this.handleScroll);
  },

  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
};
</script>

<style lang="scss">
.header {
  width: 100%;
  background: white;
  position: fixed;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bloobloom {
  flex: 2;
}

.header > div {
  border: 1px solid black;
  padding: 20px;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .header {
    width: 100%;
  }
}
</style>
