<template>
  <div class="footer">
    <div class="item">
      <div>
        <h2>ABOUT US</h2>
        <p>Our Story</p>
        <p>Made with Care</p>
        <p>Pair for Pair</p>
        <p>Journal</p>
      </div>
      <div>
        <h2>ASSISTANCE</h2>
        <p>Terms & Conditions</p>
        <p>Privacy Policy</p>
        <p>Accessibility</p>
      </div>
      <div>
        <h2>BOUTIQUES</h2>
        <p>Find a store</p>
        <p>Book a free eye test</p>
      </div>
    </div>
    <div class="item">
      <div>
        <h2>NEED HELP ?</h2>
        <p>FAQ</p>
        <p>Live chat</p>
        <p>+44 (0)203 936 2623</p>
      </div>
      <div class="subscribe">
        <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
        <div>
          <input type="text" placeholder="Enter your email address" />
        </div>
        <button>SUBSCRIBE</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style lang="scss">
.footer {
  display: flex;
}

.item {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
}

h2 {
  font-weight: 700;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: start;
}

input {
  border-bottom: solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 6px;
  width: 200px;
}

button {
  padding: 5px;
  width: 100px;
  color: white;
  background: black;
  font-weight: 700;
  border: none;
  margin-top: 20px;
}
</style>
