<template>
  <div id="app">
    <HeaderVue />
    <EyeVue />
    <GlassesVue />
    <FooterVue />
  </div>
</template>

<script>
import HeaderVue from "./components/Header/Header.vue";
import EyeVue from "./components/Eye/Eye.vue";
import GlassesVue from "./components/Glasses/Glasses.vue";
import FooterVue from "./components/Footer/Footer.vue";

export default {
  components: {
    HeaderVue,
    EyeVue,
    GlassesVue,
    FooterVue,
  },
  name: "app",
  data() {
    return {
      msg: "Welcome to Your Vue.js App",
    };
  },
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  border-left: 1px solid black;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
